<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>出力画面</title>
</head>
<body>
    <div><h1 th:text="${welcomeMessage}"></h1></div>
        <h2>入力画面</h2>
            <h3>値を入力してください</h3>
    <form method="post" action="/output">
        <input type="text" name="inputValue"/>
        <input type="submit" value="送信"/>
    </form>
    <p th:text="${returnMessage}"></p>
    <p th:text="'入力された値は「' + ${inputValue} + '」です。'"></p>
    <a th:href="@{/input(previous=${inputValue})}">入力画面へ戻る</a>
</body>
</html>